__pycache__
data_tools/src/blacklist/*
!data_tools/src/blacklist/.gitkeep
data_tools/src/semi_auto_annotation/fig0.jpg
datasets/D-Fire
datasets/S-Smoke
datasets/data_info/*
!datasets/data_info/.gitkeep
models/*
!models/.gitkeep
**/predicted_results/*
!**/predicted_results/.gitkeep
primary_segmenters/TorchSeg/model/**/log