__pycache__
models/*
datasets/*
!datasets/.gitkeep
!datasets/config_new
datasets/config_new/*
!datasets/config_new/gen_ssmoke_path_lists.py
primary_segmenters/TorchSeg/predicted_results/*
!primary_segmenters/TorchSeg/predicted_results/.gitkeep
**/log
primary_segmenters/TorchSeg/model/**/metrics.png